<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tra</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.serlvet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Info</display-name>
    <servlet-name>Info</servlet-name>
    <servlet-class>com.serlvet.Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/Info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Click</display-name>
    <servlet-name>Click</servlet-name>
    <servlet-class>com.serlvet.Click</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Click</servlet-name>
    <url-pattern>/Click</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Collect</display-name>
    <servlet-name>Collect</servlet-name>
    <servlet-class>com.serlvet.Collect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Collect</servlet-name>
    <url-pattern>/Collect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchView</display-name>
    <servlet-name>SearchView</servlet-name>
    <servlet-class>com.serlvet.SearchView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchView</servlet-name>
    <url-pattern>/SearchView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kindScenery</display-name>
    <servlet-name>kindScenery</servlet-name>
    <servlet-class>com.serlvet.kindScenery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kindScenery</servlet-name>
    <url-pattern>/kindScenery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClickView</display-name>
    <servlet-name>ClickView</servlet-name>
    <servlet-class>com.serlvet.ClickView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClickView</servlet-name>
    <url-pattern>/ClickView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recommend</display-name>
    <servlet-name>Recommend</servlet-name>
    <servlet-class>com.serlvet.Recommend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recommend</servlet-name>
    <url-pattern>/Recommend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HasCollect</display-name>
    <servlet-name>HasCollect</servlet-name>
    <servlet-class>com.serlvet.HasCollect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HasCollect</servlet-name>
    <url-pattern>/HasCollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.serlvet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateS</display-name>
    <servlet-name>UpdateS</servlet-name>
    <servlet-class>com.serlvet.UpdateS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateS</servlet-name>
    <url-pattern>/UpdateS</url-pattern>
  </servlet-mapping>
</web-app>